doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Introduction to Ansible

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Introduction to DevOps with Ansible

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Matteo Magni
        h3 <a href="http://bit.ly/devops-ansible">http://bit.ly/devops-ansible</a>
        <img style="width: 25%" src="images/officina-linux.jpg" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 In informatica <strong>DevOps</strong> (dalla contrazione inglese di development, "sviluppo", e operations, qui simile a "messa in produzione" o "deployment") è una metodologia di sviluppo del software che punta alla comunicazione, collaborazione e integrazione tra sviluppatori e addetti alle operations dell'information technology (IT)
        em [wikipedia]

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3
          em Con il termine “Metodologie Agili” ci si riferisce ad una serie di metodologie di sviluppo software ispirate dal “Manifesto Agile”, impiegate per superare i limiti emersi dal modello tradizionale “a cascata” (waterfall).
        em [wikipedia]

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Tra le pratiche Agili una è quella di avere frequenti rilasci di nuove versioni del software:
          br
          br
          em An Agile team frequently releases its product into the hands of end users, listening to feedback, whether critical or appreciative..
        em [wikipedia]

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Rilasci
        ul
          li
          li In molte aziende però i rilasci applicativi sono eventi ad alto impatto e rischio, coinvolgendo più gruppi di lavoro.
          li L’obiettivo è mettere in produzione nuove feature o correzioni di bug il più velocemente possibile e con il minor numero di rischi è molto difficile

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        ul
          li I <strong>dev</strong> spingono per mettere subito online le nuove feature
          li i <strong>QA</strong> inoltrano
          li gli <strong>operation</strong> sono molto prudenti perché sanno che toccare l’infrastruttura potrebbe creare problemi.

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/dev-qa-ops.gif" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Come possiamo fare?

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        ul
          li Sviluppare e testare in ambienti simili a quelli di produzione
          li Distribuire con processi automatici, ripetibili e affidabili
          li Monitorare e convalidare la qualità operativa
          li Amplificare e accelerare il ritorno di feedback da parte degli utenti

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Continuous integration e testing

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Continuous delivery e deployment

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Continuous operations

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Continuous assessment

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/devops_cycle.png" />

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/devops.png" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 L’utilizzo di pratiche <strong>DevOps</strong> spesso parte dal bisogno di poter creare, gestire, condividere e replicare configurazioni di ambienti complessi

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Se pensiamo ad una infrastruttura web come ad esempio lo stack LAMP in una soluzione dove abbiamo più ambienti
        ul
          li
          li
            strong Development
          li
            strong Testing
          li
            strong Staging
          li
            strong Production

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/dev-stage-prod.gif" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        ul
          li Quando devo aggiungere una nuova dipendenza di infrastruttura?
          li Un nuovo pacchetto?
          li Un nuovo servizio?

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        h2
          em developer
        <img class="full" src="images/developer-fear.gif" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p
          em La metodologia <strong>DevOps</strong> aiuta le aziende nella gestione dei rilasci, standardizzando gli ambienti di sviluppo.
          br
          br
          em Le aziende con problemi di automazione dei rilasci solitamente hanno già un processo automatico in essere ma lo vorrebbero più flessibile e controllabile.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p
          em Idealmente tale automazione potrebbe essere utilizzata anche da risorse non operative (non appartenenti all'IT Operations) su ambienti non di produzione. In questo modo gli sviluppatori hanno a disposizione un maggiore controllo degli ambienti, dando all'infrastruttura una visione più incentrata sull'applicazione.[wikipedia]

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        <img style="width: 50%" src="images/infrastructure_as_code_medium.png" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Come sviluppatori siamo abituati a gestire diverse dipendenze tra componenti software (classi, package e librerie)
        p
          strong
            em Ma anche le infrastrutture hanno delle dipendenze!
        ul
          li
          li File e Directory
          li Utenti
          li Software e loro configurazione

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p
          em Possiamo usare un software per il controllo di versione e sfruttarne tutte le potenzialità.
        strong Git, Mercurial, Svn
        <img style="max-width: 70%" src="images/git-diff.png" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        ul
          li
            em
              strong serve qualcuno che esegua le operazioni ripetitive
          li <img class="full" src="images/stupid-bird.gif" />


      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Ansible
        h3 <a href="https://www.ansible.com">https://www.ansible.com</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        em "Deploy apps. Manage systems. Crush complexity.
        em Ansible helps you build a strong foundation for DevOps."

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3
          a(href="https://github.com/ansible/ansible") github.com/ansible/ansible
          p
            br
            br
            strong GNU GENERAL PUBLIC LICENSE
            br
            em Version 3

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        em The name <strong>"Ansible"</strong> references a fictional instantaneous hyperspace communication system (as featured in Orson Scott Card's Ender's Game (1985), and originally invented by Ursula K. Le Guin for her novel Rocannon's World (1966)).

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        em debian
        pre
          code.language-bash.
            $ deb http://ppa.launchpad.net/ansible/ansible/ubuntu trusty main
            $ sudo apt-get update
            $ sudo apt-get install ansible
        em fedora
        pre
          code.language-bash.
            $ sudo dnf -y install ansible
        em Pip
        pre
          code.language-bash.
            $ pip install ansible

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Dipendenze
        ul
          li Python
          li ssh

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        em Ansible works by connecting to your nodes and pushing out small programs, called "Ansible modules" to them. These programs are written to be resource models of the desired state of the system. Ansible then executes these modules (over SSH by default), and removes them when finished.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 YAML
        em <strong>YAML</strong>: YAML Ain't Markup Language
        em <strong>What It Is</strong>: YAML is a human friendly data serialization standard for all programming languages.
        <a href="http://yaml.org/">yaml.org</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        pre
          code.language-yaml.
            galaxy_info:
            author: Matteo Magni
            description: just another geek
            license: license Apache 2.0
            platforms:
              - name: Debian
                versions:
                - jessie
            categories:
              - system
            dependencies: []

      section.emphatic-image(data-bespoke-backdrop='emphatic')

        ul
          li
            h2 Ansible glossary
          li Inventory
          li Tasks
          li Variables
          li Roles
          li Handlers
          li Playbook

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Inventory
        pre
          code.language-yaml.
            [databases]
            stp.ilbonzo.net     ansible_ssh_user=scott

            [webservers]
            aic.ilbonzo.net     ansible_ssh_user=layne

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Tasks
        pre
          code.language-yaml.
            - name: add group devel
              group: name=devel state=present
            - name: Apache | install apache
              apt: name=apache2 state=latest

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Variables
        pre
          code.language-yaml.
            user: vagrant
            group: www-data
            document_root: /var/www/officina-linux.it

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Handlers
        pre
          code.language-yaml.
            - name: restart postgresql
              service: name=postgresql state=restarted
            - name: stop postgresql
              service: name=postgresql state=stopped
            - name: start postgresql
              service: name=postgresql state=started

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Roles
        pre
          code.language-yaml.
            ╰─➤  ls -l database
              total 0
              drwxr-xr-x  10 bonzo  staff  340 Dec  6 10:45 files
              drwxr-xr-x  10 bonzo  staff  340 Dec  6 10:45 handlers
              drwxr-xr-x  10 bonzo  staff  340 Dec  6 10:45 tasks
              drwxr-xr-x   5 bonzo  staff  170 Dec  6 10:45 templates

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Playbook
        pre
          code.language-yaml.
            - hosts: all
              sudo: true
              handlers:
                - include: handlers/main.yml
              pre_tasks:
                - name: update apt cache
                  shell: apt-get update
                - name: upgrade apt
                  shell: apt-get upgrade -y
              roles:
                - webserver
                - database
            - include: nfs.yml

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Ansible Galaxy

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/ansible-galaxy.png" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        <img style="width: 60%" src="images/minecraft.svg" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Galaxy role
        <a href="https://github.com/ilbonzo/ansible-minecraft">github.com/ilbonzo/ansible-minecraft</a>

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/vagrant-ansible-minecraft.png" />

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/vagrant-ansible-minecraft-2.png" />

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img style="width:80%" src="images/virtual-box.png" />

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/minecraft-1.png" />

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/minecraft-2.png" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ICAlhy4EI44" frameborder="0" allowfullscreen></iframe>
        br
        <a href="https://youtu.be/ICAlhy4EI44">https://youtu.be/ICAlhy4EI44</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Iniziamo a provare

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Virtualizzare può essere d'aiuto per sperimentare e non solo

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        ul
          li Ci serve qualcuno che ci metta a disposizione semplicemente delle Virtual Machine.
          li Potrebbe essere un qualsiasi sistema di cloud.
          li In sviluppo possiamo usare <strong>Vagrant</strong>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Vagrant
        em "Create and configure lightweight, reproducible, and portable development environments."
        <a href="https://www.vagrantup.com/">vagrantup.com</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Provider
        ul
          li
            h3 Virtualbox
          li
            h3 VMware
          li
            h3 Hyper-V
          li
            h3 Docker

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 commands
        ul
          li
            h4 $ vagrant init
          li
            h4 $ vagrant up
          li
            h4 $ vagrant halt
          li
            h4 $ vagrant reload
          li
            h4 $ vagrant destroy

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Vagrantfile
        pre
          code.language-yaml.
            Vagrant.configure("2") do |config|
              config.vm.box = "base"
            end

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Vagrant Box
        p
          <a href="https://www.vagrantup.com/intro/getting-started/boxes.html">https://www.vagrantup.com/intro/getting-started/boxes.html</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Vagrant Box
        pre
          code.language-yaml.
            $ vagrant box list
            $ vagrant box add debian/jessie64

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Vagrant Box
        pre
          code.language-yaml.
            Vagrant.configure("2") do |config|
              config.vm.box = "debian/jessie64"
            end

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Vagrant Networking
        pre
          code.language-yaml.
              config.vm.hostname = "rocannon"
              config.vm.network :forwarded_port, guest: 80, host: 8080
              config.vm.network "private_network", ip: "192.168.33.66"

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Vagrant ssh login
        pre
          code.language-yaml.
              $ vagrant ssh

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Testing port forwarding
        pre
          code.language-yaml.
              $ vagrant ssh
              $ echo pippo42 > index.html
              $ sudo python -m SimpleHTTPServer 80

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Attivare ssh "normale"
        p
          em config.ssh.forward_agent
        p
          em If true, agent forwarding over SSH connections is enabled. Defaults to false.
        pre
          code.language-yaml.
             config.ssh.forward_agent = true

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Debian login ssh con password
        p
          em
            strong $ sudo vi /etc/ssh/sshd_config
        pre
          code.language-yaml.
             PasswordAuthentication yes
        p
          em
            strong $ sudo service ssh restart
        p ora possiamo entrare nella macchina in ssh "classico"
        p
          em
            strong ssh vagrant@192.168.33.66

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Provider configuration
        h3 Virtualbox
        pre
          code.language-yaml.
            config.vm.provider "virtualbox" do |v|
              v.name = "rocannon-debian"
              v.memory = 512
              v.cpus = 2
            end

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Provisioning
        h3 Ansible
        pre
          code.language-yaml.
            config.vm.provision "shell",
              inline: "sudo apt-get -y update && sudo apt-get -y install lynx"

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Run provisioning with vagrant
        pre
          code.language-yaml.
            $ vagrant up #first time when create a machines

            $ vagrant up --provision

            $ vagrant provision

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Provisioning
        h3 Ansible
        pre
          code.language-yaml.
            config.vm.provision :ansible do |ansible|
              ansible.groups = {
                "development" => ["default"],
                "all_groups:children" => ["development"]

              }
              ansible.playbook = "ansible/playbook.yml"
            end

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 First playbook
        pre
          code.language-yaml.
            - hosts: all
              become: true
              pre_tasks:
                - name: update apt cache
                  command: apt-get -y update

              tasks:
                - name: install lynx
                  command: apt-get install -y lynx

              post_tasks:
                - name: hostname
                  command: hostname

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Provisioning
        h3 with Ansible on windows
        pre
          code.language-yaml.
            ## if you don't want ansible on host
            config.vm.provision :shell, :path => "ansible/provision.sh"

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Provisioning
        h3 Ansible on windows
        pre
          code.language-yaml.
            #!/bin/bash
            sudo apt-get update
            sudo apt-get install -y python-pip python-dev python-pycurl
            sudo pip install ansible
            sudo mkdir -p /etc/ansible
            printf '[vagrant]\nlocalhost\n' | sudo tee /etc/ansible/hosts > /dev/null
            echo Running provisioner: ansible
            PYTHONUNBUFFERED=1 ansible-playbook -c local /workspace/tools/ansible/playbook.yml

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Version Control System
        h3 (VCS)

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/git-model.png" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Git for versioning
        <a href="http://rogerdudler.github.io/git-guide/">http://rogerdudler.github.io/git-guide/</a>
        <a href="http://rogerdudler.github.io/git-guide/files/git_cheat_sheet.pdf">http://rogerdudler.github.io/git-guide/files/git_cheat_sheet.pdf</a>

        p Our git repository
        <a href="https://github.com/ilbonzo/Rocannon">https://github.com/ilbonzo/Rocannon</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Inventory
        ul
          li static inventory
          li dynamic inventory

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Static Inventory
        pre
          code.language-yaml.
            [databases]
            stp.ilbonzo.net     ansible_user=scott

            [webservers]
            aic.ilbonzo.net     ansible_user=layne

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Inventory list
        pre
          code.language-yaml.
            $ ansible --list-hosts web
              hosts (1):
                ilbonzo.net
        pre
          code.language-yaml.
            # linux
            $ /etc/ansible/hosts
            # osx
            $ /usr/local/etc/ansible/hosts

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Local inventory
        pre
          code.language-yaml.
            $ ansible -i hosts --list-hosts all
              hosts (4):
                web01
                web02
                db01
                db02

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Subset
        pre
          code.language-yaml.
            $ ansible -i hosts --list-hosts webserver
              hosts (4):
                web01
                web02

            $ ansible -i hosts --list-hosts webserver:dbserver
              hosts (4):
                web01
                web02
                db01
                db02

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Local inventory
        pre
          code.language-yaml.
            ansible_user=vagrant
            ansible_port=2606
            ansible_ssh_private_key_file=~/.ssh/id_rsa

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Vagrant local inventory
        pre
          code.language-yaml.
            # Generated by Vagrant
            default ansible_ssh_host=127.0.0.1
              ansible_ssh_port=2222
              ansible_ssh_user='vagrant'
              ansible_ssh_private_key_file=
                '~/.vagrant/machines/default/virtualbox/private_key'

            [development]
            default

            [all_groups:children]
            development

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Running command
        pre
          code.language-yaml.
            $ ansible -i ansible/hosts -m ping all -k
                SSH password:
                192.168.33.66 | SUCCESS => {
                    "changed": false,
                    "ping": "pong"
                }

            $ ansible -i ansible/hosts -m command -a "hostname" all -k
                SSH password:
                192.168.33.66 | SUCCESS | rc=0 >>
                rocannon

            $ ansible -i ansible/hosts -a "hostname" all -k
                SSH password:
                192.168.33.66 | SUCCESS | rc=0 >>
                rocannon

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Vagrantfile
        pre
          code.language-yaml.
            config.vm.provision :ansible do |ansible|
              ansible.groups = {
                "development" => ["default"],
                "all_groups:children" => ["development"]

              }
              ansible.playbook = "ansible/playbook.yml"
            end

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Playbook
        pre
          code.language-yaml.
            ---
            - hosts: all
              tasks:
                - name: install lynx
                  command: apt-get install -y linux
                - command: hostname

      section.emphatic-image(data-bespoke-backdrop='emphatic')
        <img class="full" src="images/playbook-output.png" />

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Running playbook
        pre
          code.language-yaml.
            $ ansible-playbook ansible/playbook.yml -i hosts --ask-sudo-pass --ask-pass

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Modules
        p
          em Modules (also referred to as “task plugins” or “library plugins”) are the ones that do the actual work in ansible, they are what gets executed in each playbook task. But you can also run a single one using the ‘ansible’ command.
        <a href="http://docs.ansible.com/ansible/modules_by_category.html">http://docs.ansible.com/ansible/modules_by_category.html</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Packaging: apt
        p
          em Manages apt packages (such as for Debian/Ubuntu).
        <a href="http://docs.ansible.com/ansible/apt_module.html">http://docs.ansible.com/ansible/apt_module.html</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 module apt
        pre
          code.language-yaml.
            pre_tasks:
              - name: update apt cache
                apt: update_cache=yes

            tasks:
              - name: install lynx
                apt: name=lynx state=latest

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 apt
        pre
          code.language-yaml.
            tasks:
              - name: install apache2
                apt: name=apache2 state=latest update_cache=yes

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 become
        h3 privilege escalation
        p
          em Ansible allows you to ‘become’ another user, different from the user that logged into the machine (remote user). This is done using existing privilege escalation tools, which you probably already use or have configured, like sudo, su, pfexec, doas, pbrun, dzdo, ksu and others.
        <a href="http://docs.ansible.com/ansible/become.html">http://docs.ansible.com/ansible/become.html</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 become
        pre
          code.language-yaml.
            tasks:
              - name: Run a command as the apache user
                command: somecommand
                become: true
                become_user: apache

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Loops
        <a href="http://docs.ansible.com/ansible/playbooks_loops.html">http://docs.ansible.com/ansible/playbooks_loops.html</a>
        pre
          code.language-yaml.
            tasks:
              - name: install lynx
                apt: name=lynx state=latest
              - name: install vim
                apt: name=vim state=latest

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Loops
        <a href="http://docs.ansible.com/ansible/playbooks_loops.html">http://docs.ansible.com/ansible/playbooks_loops.html</a>
        pre
          code.language-yaml.
            tasks:
              - name: install packages
                apt: name={{ item }} state=latest
                with_items:
                - lynx
                - vim

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Jinja2
        h3 Templating
        <a href="http://docs.ansible.com/ansible/playbooks_templating.html">http://docs.ansible.com/ansible/playbooks_templating.html</a>
        pre
          code.language-yaml.
            - name: touch files with an optional mode
              file: dest={{item.path}} state=touch mode={{item.mode|default(omit)}}
              with_items:
                - path: /tmp/foo
                - path: /tmp/bar
                - path: /tmp/baz
                  mode: "0444"

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Service
        p
          em Controls services on remote hosts. Supported init systems include BSD init, OpenRC, SysV, Solaris SMF, systemd, upstart.
        <a href="http://docs.ansible.com/ansible/service_module.html">http://docs.ansible.com/ansible/service_module.html</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Service
        pre
          code.language-yaml.
            - name: install apache2
              apt: name=apache2 state=latest update_cache=yes
            - name: apache2 is running
              service: name=apache2 state=started enabled=yes

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Include Statements
        p
          em "single responsibility principle"
        pre
          code.language-yaml.
            - include: webserver.yml

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Handlers
        p
          em Handlers are lists of tasks, not really any different from regular tasks, that are referenced by a globally unique name, and are notified by notifiers. If nothing notifies a handler, it will not run. Regardless of how many tasks notify a handler, it will run only once, after all of the tasks complete in a particular play.
        pre
          code.language-yaml.
            - handlers:
              - name: restart apache2
                service: name=apache2 state=restarted

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Notify to Handlers
        pre
          code.language-yaml.
            - name: check mod rewrite
              apache2_module:
                state: present
                name: rewrite
              notify:
              - restart apache2

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Demo App
        h3 Flask framework
        <a href="http://flask.pocoo.org/">http://flask.pocoo.org/</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 webserver.yml
        pre
          code.language-yaml.
            ---
            - hosts: all
              become: true
              tasks:

                - name: install apache2 and other components
                  apt: name={{ item }} state=present update_cache=yes
                  with_items:
                    - apache2
                    - libapache2-mod-wsgi
                    - python-pip
                    - python-virtualenv

                - name: ensure apache is started
                  service: name=apache2 state=started enabled=yes

                - name: ensure mod_wsgi enabled
                  apache2_module: state=present name=wsgi
                  notify: restart apache2

              handlers:
                - name: restart apache2
                  service: name=apache2 state=restarted

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Copy modules
        p source copied from control machine to server
        <a href="https://docs.ansible.com/ansible/copy_module.html">https://docs.ansible.com/ansible/copy_module.html</a>
        pre
          code.language-yaml.
            - name: copy demo app source
              copy: src=../demo/app/ dest=/var/www/demo mode=755
              notify: restart apache2

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Copy modules
        p apache virtual hosts
        pre
          code.language-yaml.
            - name: copy virtual host config
              copy: src=../demo/demo.conf dest=/etc/apache2/sites-available mode=755
              notify: restart apache2

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Pip modules
        pre
          code.language-yaml.
            - name: setup python virtualenv
              pip:
                requirements=/var/www/demo/requirements.txt
                virtualenv=/var/www/demo/.venv
              notify: restart apache2

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Handlers
        pre
          code.language-yaml.
            RUNNING HANDLER [restart apache2] ******************
            changed: [default]

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Flush Handlers
        pre
          code.language-yaml.
            - meta: flush_handlers

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Files module
        h3 symlink
        <a href="https://docs.ansible.com/ansible/file_module.html">https://docs.ansible.com/ansible/file_module.html</a>
        pre
          code.language-yaml.
            - name: de-activate default apache site
              file: path=/etc/apache2/sites-enabled/000-default.conf state=absent
              notify: restart apache2
            - name: activate demo apache site
              file:
                src=/etc/apache2/sites-available/demo.conf
                dest=/etc/apache2/sites-enabled/demo.conf
                state=link
              notify: restart apache2

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 View demo app
        <a href="http://localhost:4444">http://localhost:4444/</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 MySql db module
        <a href="https://docs.ansible.com/ansible/mysql_db_module.html">https://docs.ansible.com/ansible/mysql_db_module.html</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 MySql user module
        <a href="https://docs.ansible.com/ansible/mysql_user_module.html">https://docs.ansible.com/ansible/mysql_user_module.html</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 database.yml
        pre
          code.language-yaml.
            ---
            - hosts: all
              become: true
              tasks:
              - name: install tools
                apt: name={{ item }} state=present update_cache=yes
                with_items:
                  - python-mysqldb

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 database.yml
        pre
          code.language-yaml.
            ---
            - hosts: all
              become: true
              tasks:

                - name: install mysql-server
                  apt:
                    name=mysql-server
                    state=present
                    update_cache=yes

                - name: ensure mysql is started
                  service:
                    name=mysql
                    state=started
                    enabled=yes

              handlers:
                - name: restart mysql
                  service: name=mysql state=restarted

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 line in line module
        pre
          code.language-yaml.
            - name: ensure mysql listen on all ports
              lineinfile:
                dest=/etc/mysql/my.cnf
                regexp=^bind-address
                line="bind-address = 0.0.0.0"
              notify: restart mysql

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Mysql create db
        pre
          code.language-yaml.
            - name: create demo database
              mysql_db: name=demo state=present

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Mysql create user
        pre
          code.language-yaml.
            - name: create demo user
              mysql_user:
                name=demo
                password=demo
                priv=demo.*:ALL host='%'
                state=present

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 View demo app db
        <a href="http://localhost:4444/db">http://localhost:4444/db</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Db down
        pre
          code.language-yaml.
            $ sudo service mysql stop

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 end

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 fonti
        ul
          li <a href="https://www.ansible.com">ansible.com</a>
          li <a href="http://devops.com">devops.com</a>
          li <a href="http://github.com">github.com</a>
          li <a href="http://devopsreactions.tumblr.com/">devopsreactions.tumblr.com</a>
          li <a href="http://losviluppatore.it/">losviluppatore.it</a>
          li <a href="https://www.ibuildings.it/">buildings.it</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Questions?

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Thanks to
        h3
          a(href="http://officina-linux.it/") officina-linux.it
        <img style="width: 45%" src="images/officina-linux.jpg" />

    script(src='build/build.js')
